@import "tailwindcss";


html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}


.clipPath{
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */ /* Default clip path  */
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
}
.logo {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
