/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); */
@import "tailwindcss";


html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}


/** MenuScreenOverlay Clip path Animation */
.clipPath{
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */ /* Default clip path  */
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
}
.logo {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}



/** Hover Animation 1 */

.hoverAnimation {
  margin-top: 40px;
  border: 1px solid green;
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: auto;
  cursor: pointer;
}

.hoverAnimation > span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.57, 0.4, 0.55, 1.17);
}

.hoverAnimation > span:nth-child(1) {
  position: relative;
  z-index: 2;
}

.hoverAnimation > span:nth-child(2) {
  position: absolute;
  left: 0;
  top: 100%;        /* Container'ın hemen altında başlar */
  z-index: 1;
  transform: translateY(0);
  filter: blur(0.5px);

}

.hoverAnimation:hover > span:nth-child(1) {
  transform: translateY(-100%);
  filter: blur(0.5px);
}

.hoverAnimation:hover > span:nth-child(2) {
  transform: translateY(-100%);
  filter: blur(0);

}


/** Hover Animation 2 Echo */
.hoverAnimation2 {
  margin-top: 40px;
  border: 1px solid green;
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: auto;
  cursor: pointer;
}

.hoverAnimation2 > span {
  /* display: inline-block; */
  transition: transform 0.3s ease-in-out;
}

.hoverAnimation2 > span:nth-child(1) {
  position: relative;
  z-index: 2;
}

.hoverAnimation2 > span:nth-child(2),span:nth-child(3),span:nth-child(4),span:nth-child(5) {
  position: absolute;
  left: 0;
  top: 100%;        /* Container'ın hemen altında başlar */
  z-index: 1;
  transform: translateY(0);
  filter: blur(0.5px);

}

.hoverAnimation2:hover > span:nth-child(1) {
  transform: translateY(-100%);
  filter: blur(0.5px);
  scale: 0.9;
}

.hoverAnimation2:hover > span:nth-child(2) {
  transform: translateY(-100%);
  filter: blur(0);

}

.hoverAnimation2:hover > span:nth-child(3) {
  transform: translateY(-100%);
  filter: blur(0);
  transition-delay:10ms;

}

.hoverAnimation2:hover > span:nth-child(4) {
  transform: translateY(-100%);
  filter: blur(0);
  transition-delay: 20ms;

}

.hoverAnimation2:hover > span:nth-child(5) {
  transform: translateY(-100%);
  filter: blur(0);
  transition-delay:40ms;
}



/** PageTransition */
.block{
  flex:1;
  height: 100%;
  background-color: rgb(111, 80, 158);
  transform: scaleX(0);
  transform-origin: left;
  
}



/** Image Reval Animation 1 */
/* .imageContainer{
  width: 100%;
  height: 100%;
  position: relative;
  will-change: transform;
}
.imageContainer > img {
 position: absolute;
 top: 0;
 left: 0;
 object-fit: cover;
 width: 100%;
 height: 100%;
 will-change: transform;
 
 
} */

/* .mask{ */
    /* mask ayarları safari için webkit */
  /* -webkit-mask-image: url("/without-bg.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  mask-image:url("/imageWithoutBg.png") ;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover; */
/* } */


/* .banner-header{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 75%;
  text-align: center;
  color: antiquewhite;
  z-index: 2;
}

.revelImageContainer{
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.revelImageContainer h1{
 font-size: 4rem;
  line-height: 1.1;
} */


.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

.banner h1{
  font-size: 4rem;
  line-height: 1.1;
}

.banner{
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

.banner-img-container{
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.banner-img-container .img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.banner-img-container .img.mask{
  -webkit-mask-image:url("/imageWithoutBg.png");
  mask-image: url("/imageWithoutBg.png");
  -webkit-mask-size:cover;
  mask-size: cover;
  -webkit-mask-position: center;
  mask-position: center;
}

.banner-header{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%); 
  color: azure;
  width: 75%;
  text-align: center;
  z-index: 2;
}

.banner-intro-text-container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  gap: 0.5rem;
  z-index: 10;
}

.banner-intro-text{
  flex: 1;
  position: relative;
  will-change: transform;
  color: black;
}
.banner-intro-text:nth-child(1){
  display: flex;
  justify-content: flex-end;
}

 @media (max-width:1000px){
  .banner-header{
    width:calc(100%-4rem);
  }
 }
 

 /** Strech Animation Start  */
 .strechAnimationContainer h1{
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 0.85;
  text-align: center;
 }

 .strechAnimationContainer section{
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
 }


 .sticky-text-1, .sticky-text-2{
  background-color: bisque;
  color: black;
 }
 .sticky-text-3{
  color: bisque;
  background-color: black;
 }

 .text-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: opacity,transform;
  z-index: 1;
 }
 .text-container h1{
  position: relative;
  left:-0.035em;
  letter-spacing: -0.05em;
  transform-origin: 50% 0%;
  transform: scaleY(0);
 }


 
 .sticky-text-1 .text-container h1{
  font-size: 20vw;
  font-weight: 300;
  will-change: transform;
 }
 .sticky-text-2 .text-container h1{
  font-size: 28vw;
  will-change: transform;
 }
 .sticky-text-3 .text-container h1{
  font-size: 20vw;
  font-weight: 900;
  will-change: transform;
 }

 @media (max-width:1000px) {
    h1{
      font-size: 3rem;
    }
 }